# ============================================
# Mode
# ============================================

MODE=pacs

# ============================================
# PostgreSQL Connection Settings
# ============================================
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE = fr

# ============================================
# API Settings
# ============================================
PACS_API_URL=http://localhost:5000
API_PORT=5000

# ============================================
# File Storage Paths
# ============================================
PERSON_AVATARS_PATH=C:/temp/person_photos
PHOTOS_PATH=./person_avatars
THUMBNAIL_PATH=C:/temp/thumbnails

# ============================================
# Face Recognition Settings
# ============================================
EUCLIDEAN_THRESHOLD=0.6
UNKNOWN_THRESHOLD=0.8
MAX_FACES_IN_LIST=25
MIN_WIDTH_PHOTO=50

# ============================================
# Motion Detection Settings
# ============================================
MOTION_MIN_AREA=500
MOTION_THRESHOLD=25
MOTION_RECORD_AFTER_TIME=3

# ============================================
# Camera Settings
# ============================================
CAMERA_POLL_INTERVAL=5

# ============================================
# Debug Mode
# ============================================
DEBUG_MODE=false
SAVE_PHOTOS=true

# ============================================
# Logging Settings (loglib)
# ============================================
# local или sentry
LOGGING_TYPE=local
LOG_FILE=logs/app.log
LOG_BUFFER_ENABLED=true
LOG_BUFFER_FILE=logs/buffer.jsonl
SENTRY_RETRY_ENABLED=true
SENTRY_RETRY_INTERVAL=5
SENTRY_MAX_RETRIES=3

# Sentry - заполнить при использовании (формат: https://key@sentry.host/project_id)
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_RELEASE=docker_face@1.0.0
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_PROFILES_SAMPLE_RATE=0
SENTRY_DEBUG=false